# Godot cache/editor stuff
.godot/
.import/

# Ignore all .import files
*.import
*.tmp
*.uid

# Optional but safe editor configs
export.cfg
export_presets.cfg
export_credentials.cfg

# Mono (if you use C#)
.mono/
mono_crash.*.json
data_*/

/Assets/Pictures/output.ogv
godot_scripts_scan.txt